<h1><%= @merchant.name %>'s Bulk Discounts</h1>
<%= link_to 'Add New Bulk Discount', new_merchant_bulk_discount_path(@merchant) %>
<ol>
  <% @bulk_discounts.each do |bulk_discount| %>
    <li id='discount_<%= bulk_discount.id %>'>
      <%= link_to bulk_discount.id.to_s, bulk_discount_path(bulk_discount) %> 
      Discount Percent: <%= bulk_discount.format_discount_percent %>, 
      Quantity Threshold: <%= bulk_discount.quantity_threshold %>
      <%= form_with model: bulk_discount, method: :destroy, local: true do |f| %>
        <%= f. %>
      <% end %>
    </li>
  <% end %>
</ol>