<h1>New Bulk Discount</h1>
<%= form_with model: @bulk_discount, url: merchant_bulk_discounts_path(@merchant), local: true do |f| %>
  <%= f.label :discount_percent, 'Discount Percent:' %>
  <%= f.text_field :discount_percent %>
  <%= f.label :quantity_threshold, 'Quantity Threshold:' %>
  <%= f.text_field :quantity_threshold %>
  <%= f.hidden_field :merchant_id, value: @merchant.id %>
  <%= f.submit 'Create Bulk Discount' %>
<% end %>