<h1>Admin Dashboard</h1>

<%= link_to 'Admin Merchants Index', admin_merchants_path %>
<%= link_to 'Admin Invoices Index', admin_invoices_path %>

<div id="successful_transactions">
  <h3>Top 5 Customers with largest number of successful transactions:</h3>
  <ol>
    <% Customer.top_5_successful_transactions.each do |customer| %>
      <li><%= customer.first_name %> <%= customer.last_name %>: <%= customer.successful_transactions_count %>
    <% end %>
  </ol>
</div>

<div id="incomplete_invoices">
  <h3>Incomplete Invoices:</h3>
  <ul>
    <% Invoice.invoice_items_not_shipped.each do |invoice| %>
      <li><%= link_to "#{invoice.id}", admin_invoice_path(invoice) %> <%= invoice.format_time_stamp %></li>
    <% end %>
  </ul>
</div>
