<h1>Admin Dashboard</h1>

<%= link_to 'Admin Merchants Index', admin_merchants_path %>
<%= link_to 'Admin Invoices Index', admin_invoices_path %>

<div id="successful_transactions">
  <h3>Top 5 Customers with largest number of successful transactions:</h3>
  <ol>
    <% Customer.top_5_successful_trans.each do |customer| %>
      <li><%= customer.first_name %> <%= customer.last_name %>: <%= customer.success_transaction_count %>
    <% end %>
  </ol>
</div>
