<h2><%= @merchant.name %></h2> <%= image_tag @merchant_image.image_url %>

<div class="item_column">
  <%= content_tag :div, id: "item_index" do %>
  <%= link_to "My Items", merchant_items_path(@merchant) %>
  <% end %>
</div>

<div class="invoice_column">
  <%= content_tag :div, id: "invoice_index" do %>
  <%= link_to "My Invoices", merchant_invoices_path(@merchant) %>
  <% end %>
</div>

<div class="best-customers">
  <%= content_tag :div, id: "top_5_customers" do %>
    <h3>Top 5 Customers</h3>
    <% @merchant.top_five_customers.each do |customer| %>
      <ul>
      <li><%= customer.first_name %> <%= customer.last_name %> - <%= customer.succesful_transactions %> purchases</li>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="items-column">
  <%= content_tag :div, id: "shippable_items" do %>
    <h3>Items Ready to Ship</h3>
    <% @merchant.unshipped_items.each do |item| %>
    <ul>
      <li><%= item.name %> - Invoice # <%= link_to "#{item.item_invoice_id_for_merchant}", merchant_invoice_path(@merchant, item.item_invoice_id_for_merchant)%> -
      <%= item.invoice_formatted_date %></li>
    </ul>
    <% end %>
  <% end %>
</div>