<h3 style="background-color:LightGray;"><center>Invoice #<%= @invoice.id %><center></h3>
<ul><b>Status:</b> <%= @invoice.status %></ul>
<br>
<ul><b>Created on:</b> <%= @invoice.created_at_custom %></ul>
<ul><b>Total Revenue:</b> <%=  %></ul>
<ul><h2>Customer:</h2>
<ul><%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></ul>