<h3 style="background-color:LightGray;"><center>Invoice #<%= @invoice.id %><center></h3>
<ul><b>Status:</b> <%= @invoice.status %></ul>
<br>
<ul><b>Created on:</b> <%= @invoice.format_time_stamp %></ul>
<ul><b>Total Revenue:</b> <%=  %></ul>
<ul><h2>Customer:</h2>
<ul style="font-size:20px;"><%= @invoice.customer_full_name%></ul>
<br>
<br>
<br>
<style>
table, th, td {
  border:1px solid black;
  padding: 15px;
  margin: 2px;
  font-size: 20px;
}
</style>
<body>
<div id="invoice_items"> 
<h2>Items on this Invoice:</h2>

<table style="width:100%">
  <tr>
    <td style="background-color:DarkGrey; color:White"><center>Item Name</td>
    <td style="background-color:DarkGrey; color:White"><center>Quantity</td>
    <td style="background-color:DarkGrey; color:White"><center>Unit Price</td>
    <td style="background-color:DarkGrey; color:White"><center>Status</td>
  </tr>
   <tr>
    <td style="background-color:LightGrey;"><center><%= @invoice.items.first.name %></td>
    <td style="background-color:LightGrey;"><center><%= @invoice.invoice_items.first.quantity %></td>
    <td style="background-color:LightGrey;"><center>$<%= @invoice.invoice_items.first.unit_price %></td>
    <td style="background-color:LightGrey;"><center><select style="font-size:20px" id="status" name="status">
<option value="1"><%= @invoice.invoice_items.first.status %></option>
<option value="2"><%= @invoice.invoice_items.last.status %></option>
</select></td>
  </tr>
</table>
</div>
</body>





